% % --------------- %
% % ---  JOB    --- %
% % --------------- %

Job: "WZ_ANN_BONLY_Data"
  Label: "WZ BONLY Data"
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  POI: "mu_H5"
  ReadFrom: HIST
  MergeUnderOverFlow: TRUE
  HistoPath: "/data/hrzhao/MyOutputs/Run2GMCombination/WZ/TRexFitter/FitInputs/rebin_root/"
  HistoFile: "hist_WZ_allmass"
  OutputDir: "/data/hrzhao/MyOutputs/Run2GMCombination/WZ/TRexFitter/FitOutputs/"
  DebugLevel: 1 # From 0 to 5
  HistoChecks: NOCRASH
  PlotOptions: "NOSIG, YIELDS"
  RankingPlot: "all"
  RankingMaxNP: 10
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  MCstatThreshold: 0.00
  SystControlPlots: TRUE #TRUE
  SystDataPlots: TRUE
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  UseGammaPulls: TRUE
  ImageFormat: "pdf"

% % --------------- %
% % ---  FIT    --- %
% % --------------- %

Fit: "BONLY_CRSR"
  FitType: BONLY
  FitRegion: CRSR
  UseMinos: "mu"
  FitBlind: FALSE
  SetRandomInitialNPval: 0.1

Limit: "limit"
  LimitType: ASYMPTOTIC

% % --------------- %
% % --- REGIONS --- %
% % --------------- %

### Signal region for WZ

Region: "SRWZ"
  Type: SIGNAL
  VariableTitle: "M_{WZ} [GeV]"
  YaxisTitle: "Events / 50 GeV"
  BinWidth: 50
  Ymax: 29
  Ymin: 0
  Label: "Signal Region"
  HistoName: "GMMVASR"

### Control regions for WZ

Region: "CRWZ"
  Type: CONTROL
  VariableTitle: "M_{WZ} [GeV]"
  YaxisTitle: "Events / 50 GeV"
  LogScale: TRUE
  Ymax: 4000
  Ymin: 0.03
  BinWidth: 50
  Label: "WZ Control Region"
  LogScale: TRUE
  HistoName: "GMMVACR"

Region: "CRZZ"
  Type: CONTROL
  VariableTitle: "M_{WZ} [GeV]"
  YaxisTitle: "Events / 50 GeV"
  LogScale: TRUE
  Ymax: 4000
  Ymin: 0.03
  Label: "ZZ Control Region"
  LogScale: TRUE
  HistoName: "ZZCRJJ"


% % --------------- %
% % --- SAMPLES --- %
% % --------------- %

%%% ------- NOMINAL SAMPLES

### Signal region for WZ
Sample: "GMvbf375"
  Type: SIGNAL
  Title: "H_{5}^{#pm}(m375)"
  HistoNameSuff: "_GMvbf375"
  FillColor: 632
  LineColor: 632
  UseMCstat: TRUE

Sample: "WZQCD"
  Type: BACKGROUND
  Title: "W^{#pm}Z-QCD"
  HistoNameSuff: "_WZQCD"
  FillColorRGB: 204,204,204
  LineColorRGB: 204,204,204
  UseMCstat: TRUE

Sample: "WZEW"
  Type: BACKGROUND
  Title: "W^{#pm}Z-EWK"
  HistoNameSuff: "_WZEW"
  FillColorRGB: 225,153,153
  LineColorRGB: 225,153,153
  UseMCstat: TRUE

Sample: "ZZ"
  Type: BACKGROUND
  Title: "ZZ"
  HistoNameSuff: "_ZZ"
  FillColorRGB: 153,255,153
  LineColorRGB: 153,255,153
  UseMCstat: TRUE

Sample: "VVV"
  Type: BACKGROUND
  Title: "VVV+t\bar{t}V"
  HistoNameSuff: "_VVV"
  FillColorRGB: 102,153,255
  LineColorRGB: 102,153,255
  UseMCstat: TRUE

Sample: "Fake"
  Type: BACKGROUND
  Title: "Fake/non-prompt"
  HistoNameSuff: "_FakeRenorm"
  FillColorRGB: 255,255,0
  LineColorRGB: 255,255,0
  UseMCstat: TRUE

Sample: "Data"
  Type: DATA
  Title: "Data"
  HistoNameSuff: "_data"

% % --------------- %
% % - NORMFACTORS - %
% % --------------- %

NormFactor: "mu_H5"
  Title: "#it{#mu}(#it{H^{#pm}})"
  Nominal: 1
  Min: -1000
  Max: 10000
  Samples: GMvbf375

NormFactor: "mu_WZQCD"
  Title: "#it{#mu}_{WZQCD}"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: WZQCD

NormFactor: "mu_ZZ"
  Title: "#it{#mu}_{ZZ}"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: ZZ

% % --------------- %
% % - SYSTEMATICS - %
% % --------------- %

### Luminosity 
Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.032
  OverallDown: 0.032

### XS 
Systematic: "XS_VVV"
  Title: "VVV XS"
  Type: OVERALL
  OverallUp: 0.2
  OverallDown: 0.2
  Samples: "VVV"

### Experimental 

Systematic: "EG_RESOLUTION_ALL"
  Title: "EG_RESOLUTION_ALL"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EG_RESOLUTION_ALL__1up"
  HistoNameSufDown: "_EG_RESOLUTION_ALL__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EG" 

Systematic: "EG_SCALE_AF2"
  Title: "EG_SCALE_AF2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EG_SCALE_AF2__1up"
  HistoNameSufDown: "_EG_SCALE_AF2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EG" 

Systematic: "EG_SCALE_ALL"
  Title: "EG_SCALE_ALL"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EG_SCALE_ALL__1up"
  HistoNameSufDown: "_EG_SCALE_ALL__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EG" 

Systematic: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"
  Title: "EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR__1up"
  HistoNameSufDown: "_EL_EFF_ID_TOTAL_1NPCOR_PLUS_UNCOR__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EL" 

Systematic: "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"
  Title: "EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR__1up"
  HistoNameSufDown: "_EL_EFF_Iso_TOTAL_1NPCOR_PLUS_UNCOR__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EL" 

Systematic: "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"
  Title: "EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR__1up"
  HistoNameSufDown: "_EL_EFF_Reco_TOTAL_1NPCOR_PLUS_UNCOR__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "EL" 

Systematic: "FT_EFF_Eigen_B_0"
  Title: "FT_EFF_Eigen_B_0"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_0__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_0__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_1"
  Title: "FT_EFF_Eigen_B_1"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_1__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_1__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_2"
  Title: "FT_EFF_Eigen_B_2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_2__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_3"
  Title: "FT_EFF_Eigen_B_3"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_3__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_3__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_4"
  Title: "FT_EFF_Eigen_B_4"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_4__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_4__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_5"
  Title: "FT_EFF_Eigen_B_5"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_5__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_5__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_6"
  Title: "FT_EFF_Eigen_B_6"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_6__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_6__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_7"
  Title: "FT_EFF_Eigen_B_7"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_7__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_7__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_B_8"
  Title: "FT_EFF_Eigen_B_8"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_B_8__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_B_8__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_C_0"
  Title: "FT_EFF_Eigen_C_0"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_C_0__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_C_0__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_C_1"
  Title: "FT_EFF_Eigen_C_1"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_C_1__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_C_1__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_C_2"
  Title: "FT_EFF_Eigen_C_2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_C_2__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_C_2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_C_3"
  Title: "FT_EFF_Eigen_C_3"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_C_3__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_C_3__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_Light_0"
  Title: "FT_EFF_Eigen_Light_0"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_Light_0__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_Light_0__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_Light_1"
  Title: "FT_EFF_Eigen_Light_1"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_Light_1__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_Light_1__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_Light_2"
  Title: "FT_EFF_Eigen_Light_2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_Light_2__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_Light_2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_Eigen_Light_3"
  Title: "FT_EFF_Eigen_Light_3"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_Eigen_Light_3__1up"
  HistoNameSufDown: "_FT_EFF_Eigen_Light_3__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_extrapolation"
  Title: "FT_EFF_extrapolation"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_extrapolation__1up"
  HistoNameSufDown: "_FT_EFF_extrapolation__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "FT_EFF_extrapolation_from_charm"
  Title: "FT_EFF_extrapolation_from_charm"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FT_EFF_extrapolation_from_charm__1up"
  HistoNameSufDown: "_FT_EFF_extrapolation_from_charm__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FT" 

Systematic: "JET_BJES_Response"
  Title: "JET_BJES_Response"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_BJES_Response__1up"
  HistoNameSufDown: "_JET_BJES_Response__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_1"
  Title: "JET_EffectiveNP_1"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_1__1up"
  HistoNameSufDown: "_JET_EffectiveNP_1__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_2"
  Title: "JET_EffectiveNP_2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_2__1up"
  HistoNameSufDown: "_JET_EffectiveNP_2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_3"
  Title: "JET_EffectiveNP_3"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_3__1up"
  HistoNameSufDown: "_JET_EffectiveNP_3__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_4"
  Title: "JET_EffectiveNP_4"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_4__1up"
  HistoNameSufDown: "_JET_EffectiveNP_4__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_5"
  Title: "JET_EffectiveNP_5"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_5__1up"
  HistoNameSufDown: "_JET_EffectiveNP_5__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_6"
  Title: "JET_EffectiveNP_6"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_6__1up"
  HistoNameSufDown: "_JET_EffectiveNP_6__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_7"
  Title: "JET_EffectiveNP_7"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_7__1up"
  HistoNameSufDown: "_JET_EffectiveNP_7__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EffectiveNP_8restTerm"
  Title: "JET_EffectiveNP_8restTerm"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EffectiveNP_8restTerm__1up"
  HistoNameSufDown: "_JET_EffectiveNP_8restTerm__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_Modelling"
  Title: "JET_EtaIntercalibration_Modelling"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_Modelling__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_Modelling__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_NonClosure_2018data"
  Title: "JET_EtaIntercalibration_NonClosure_2018data"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_2018data__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_2018data__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_NonClosure_highE"
  Title: "JET_EtaIntercalibration_NonClosure_highE"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_highE__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_highE__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_NonClosure_negEta"
  Title: "JET_EtaIntercalibration_NonClosure_negEta"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_negEta__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_negEta__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_NonClosure_posEta"
  Title: "JET_EtaIntercalibration_NonClosure_posEta"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_NonClosure_posEta__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_NonClosure_posEta__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_EtaIntercalibration_TotalStat"
  Title: "JET_EtaIntercalibration_TotalStat"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_EtaIntercalibration_TotalStat__1up"
  HistoNameSufDown: "_JET_EtaIntercalibration_TotalStat__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Flavor_Composition"
  Title: "JET_Flavor_Composition"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Flavor_Composition__1up"
  HistoNameSufDown: "_JET_Flavor_Composition__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Flavor_Response"
  Title: "JET_Flavor_Response"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Flavor_Response__1up"
  HistoNameSufDown: "_JET_Flavor_Response__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_DataVsMC_MC16"
  Title: "JET_JER_DataVsMC_MC16"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_DataVsMC_MC16__1up"
  HistoNameSufDown: "_JET_JER_DataVsMC_MC16__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_1"
  Title: "JET_JER_EffectiveNP_1"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_1__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_1__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_2"
  Title: "JET_JER_EffectiveNP_2"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_2__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_2__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_3"
  Title: "JET_JER_EffectiveNP_3"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_3__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_3__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_4"
  Title: "JET_JER_EffectiveNP_4"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_4__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_4__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_5"
  Title: "JET_JER_EffectiveNP_5"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_5__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_5__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_6"
  Title: "JET_JER_EffectiveNP_6"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_6__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_6__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JER_EffectiveNP_7restTerm"
  Title: "JET_JER_EffectiveNP_7restTerm"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JER_EffectiveNP_7restTerm__1up"
  HistoNameSufDown: "_JET_JER_EffectiveNP_7restTerm__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_JvtEfficiency"
  Title: "JET_JvtEfficiency"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_JvtEfficiency__1up"
  HistoNameSufDown: "_JET_JvtEfficiency__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Pileup_OffsetMu"
  Title: "JET_Pileup_OffsetMu"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Pileup_OffsetMu__1up"
  HistoNameSufDown: "_JET_Pileup_OffsetMu__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Pileup_OffsetNPV"
  Title: "JET_Pileup_OffsetNPV"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Pileup_OffsetNPV__1up"
  HistoNameSufDown: "_JET_Pileup_OffsetNPV__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Pileup_PtTerm"
  Title: "JET_Pileup_PtTerm"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Pileup_PtTerm__1up"
  HistoNameSufDown: "_JET_Pileup_PtTerm__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_Pileup_RhoTopology"
  Title: "JET_Pileup_RhoTopology"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_Pileup_RhoTopology__1up"
  HistoNameSufDown: "_JET_Pileup_RhoTopology__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_PunchThrough_MC16"
  Title: "JET_PunchThrough_MC16"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_PunchThrough_MC16__1up"
  HistoNameSufDown: "_JET_PunchThrough_MC16__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_SingleParticle_HighPt"
  Title: "JET_SingleParticle_HighPt"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_SingleParticle_HighPt__1up"
  HistoNameSufDown: "_JET_SingleParticle_HighPt__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "JET_fJvtEfficiency"
  Title: "JET_fJvtEfficiency"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_JET_fJvtEfficiency__1up"
  HistoNameSufDown: "_JET_fJvtEfficiency__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "JET" 

Systematic: "MET_SoftTrk_ResoPara"
  Title: "MET_SoftTrk_ResoPara"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MET_SoftTrk_ResoPara__1up"
  HistoNameSufDown: "_MET_SoftTrk_ResoPara__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MET" 

Systematic: "MET_SoftTrk_ResoPerp"
  Title: "MET_SoftTrk_ResoPerp"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MET_SoftTrk_ResoPerp__1up"
  HistoNameSufDown: "_MET_SoftTrk_ResoPerp__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MET" 

Systematic: "MET_SoftTrk_Scale"
  Title: "MET_SoftTrk_Scale"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MET_SoftTrk_Scale__1up"
  HistoNameSufDown: "_MET_SoftTrk_Scale__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MET" 

Systematic: "MUON_EFF_ISO_STAT"
  Title: "MUON_EFF_ISO_STAT"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_ISO_STAT__1up"
  HistoNameSufDown: "_MUON_EFF_ISO_STAT__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_ISO_SYS"
  Title: "MUON_EFF_ISO_SYS"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_ISO_SYS__1up"
  HistoNameSufDown: "_MUON_EFF_ISO_SYS__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_RECO_STAT"
  Title: "MUON_EFF_RECO_STAT"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_RECO_STAT__1up"
  HistoNameSufDown: "_MUON_EFF_RECO_STAT__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_RECO_STAT_LOWPT"
  Title: "MUON_EFF_RECO_STAT_LOWPT"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_RECO_STAT_LOWPT__1up"
  HistoNameSufDown: "_MUON_EFF_RECO_STAT_LOWPT__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_RECO_SYS"
  Title: "MUON_EFF_RECO_SYS"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_RECO_SYS__1up"
  HistoNameSufDown: "_MUON_EFF_RECO_SYS__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_RECO_SYS_LOWPT"
  Title: "MUON_EFF_RECO_SYS_LOWPT"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_RECO_SYS_LOWPT__1up"
  HistoNameSufDown: "_MUON_EFF_RECO_SYS_LOWPT__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_TTVA_STAT"
  Title: "MUON_EFF_TTVA_STAT"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_TTVA_STAT__1up"
  HistoNameSufDown: "_MUON_EFF_TTVA_STAT__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_EFF_TTVA_SYS"
  Title: "MUON_EFF_TTVA_SYS"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_EFF_TTVA_SYS__1up"
  HistoNameSufDown: "_MUON_EFF_TTVA_SYS__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_ID"
  Title: "MUON_ID"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_ID__1up"
  HistoNameSufDown: "_MUON_ID__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_MS"
  Title: "MUON_MS"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_MS__1up"
  HistoNameSufDown: "_MUON_MS__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_SAGITTA_RESBIAS"
  Title: "MUON_SAGITTA_RESBIAS"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_SAGITTA_RESBIAS__1up"
  HistoNameSufDown: "_MUON_SAGITTA_RESBIAS__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_SAGITTA_RHO"
  Title: "MUON_SAGITTA_RHO"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_SAGITTA_RHO__1up"
  HistoNameSufDown: "_MUON_SAGITTA_RHO__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "MUON_SCALE"
  Title: "MUON_SCALE"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_MUON_SCALE__1up"
  HistoNameSufDown: "_MUON_SCALE__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "MUON" 

Systematic: "PRW_DATASF"
  Title: "PRW_DATASF"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_PRW_DATASF__1up"
  HistoNameSufDown: "_PRW_DATASF__1down"
  Category: Experimental 
  SubCategory: "PRW" 

Systematic: "FF_fakeCRStats"
  Title: "FF_fakeCRStats"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FF_fakeCRStats__1up"
  HistoNameSufDown: "_FF_fakeCRStats__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FF" 

Systematic: "FF_BiasCorrection"
  Title: "FF_BiasCorrection"
  Type: HISTO 
  Smoothing: 40 
  HistoNameSufUp: "_FF_BiasCorrection__1up"
  HistoNameSufDown: "_FF_BiasCorrection__1down"
  Symmetrisation: TWOSIDED 
  Category: Experimental 
  SubCategory: "FF" 

### 
Systematic: "SRWZ_GMvbf375_PDF"
  Title: "SRWZ_GMvbf375_PDF UNC"
  Type: OVERALL
  OverallUp: 0.2693
  OverallDown: 0.2693
  Samples: GMvbf375
  Regions: SRWZ

Systematic: "SRWZ_GMvbf375_Scale"
  Title: "SRWZ_GMvbf375_Scale UNC"
  Type: OVERALL
  OverallUp: 0.1373
  OverallDown: 0.1373
  Samples: GMvbf375
  Regions: SRWZ

Systematic: "CR_GMvbf375_PDF"
  Title: "CR_GMvbf375_PDF UNC"
  Type: OVERALL
  OverallUp: 0.2551
  OverallDown: 0.2551
  Samples: GMvbf375
  Regions: CRWZ

Systematic: "CR_GMvbf375_Scale"
  Title: "CR_GMvbf375_Scale UNC"
  Type: OVERALL
  OverallUp: 0.1282
  OverallDown: 0.1282
  Samples: GMvbf375
  Regions: CRWZ

Systematic: "Theory_WZQCD_pdf_VBFMVACR"
  Title: "Theory_WZQCD_pdf_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_pdf_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZQCD_pdf_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZQCD_pdf_VBFMVASR"
  Title: "Theory_WZQCD_pdf_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_pdf_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZQCD_pdf_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZQCD_ps2_VBFMVACR"
  Title: "Theory_WZQCD_ps2_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_ps2_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZQCD_ps2_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZQCD_ps2_VBFMVASR"
  Title: "Theory_WZQCD_ps2_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_ps2_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZQCD_ps2_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZQCD_scale_VBFMVACR"
  Title: "Theory_WZQCD_scale_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_scale_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZQCD_scale_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZQCD_scale_VBFMVASR"
  Title: "Theory_WZQCD_scale_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZQCD_scale_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZQCD_scale_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  DropNorm: all 

Systematic: "Theory_WZEW_pdf_VBFMVACR"
  Title: "Theory_WZEW_pdf_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_pdf_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZEW_pdf_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_WZEW_pdf_VBFMVASR"
  Title: "Theory_WZEW_pdf_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_pdf_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZEW_pdf_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_WZEW_ps2_VBFMVACR"
  Title: "Theory_WZEW_ps2_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_ps2_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZEW_ps2_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_WZEW_ps2_VBFMVASR"
  Title: "Theory_WZEW_ps2_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_ps2_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZEW_ps2_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_WZEW_scale_VBFMVACR"
  Title: "Theory_WZEW_scale_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_scale_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_WZEW_scale_VBFMVACR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_WZEW_scale_VBFMVASR"
  Title: "Theory_WZEW_scale_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_WZEW_scale_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_WZEW_scale_VBFMVASR__1down"
  Category: Theory 
  Smoothing: 40 
  Symmetrisation: TWOSIDED 

Systematic: "Theory_ZZ_pdf_VBFMVACR"
  Title: "Theory_ZZ_pdf_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_ZZ_pdf_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_ZZ_pdf_VBFMVACR__1down"
  Category: Theory 
  DropNorm: all 

Systematic: "Theory_ZZ_pdf_VBFMVASR"
  Title: "Theory_ZZ_pdf_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_ZZ_pdf_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_ZZ_pdf_VBFMVASR__1down"
  Category: Theory 
  DropNorm: all 

Systematic: "Theory_ZZ_scale_VBFMVACR"
  Title: "Theory_ZZ_scale_VBFMVACR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_ZZ_scale_VBFMVACR__1up"
  HistoNameSufDown: "_Theory_ZZ_scale_VBFMVACR__1down"
  Category: Theory 
  DropNorm: all 

Systematic: "Theory_ZZ_scale_VBFMVASR"
  Title: "Theory_ZZ_scale_VBFMVASR"
  Type: HISTO 
  HistoNameSufUp: "_Theory_ZZ_scale_VBFMVASR__1up"
  HistoNameSufDown: "_Theory_ZZ_scale_VBFMVASR__1down"
  Category: Theory 
  DropNorm: all 

